@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&family=Roboto&display=swap");
body {
  padding-top: 0px;
  // &:before {
  //   z-index: 10001;
  //   line-height: 20px;
  //   font-weight: bold;
  //   text-align: center;
  //   position: fixed;
  //   font-size: 20px;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 20px;
  //   background: limegreen;
  //   content: "Xsmall";
  // }
  // @include media-breakpoint-up(sm) {
  //   &:before {
  //     content: "small";
  //     background: #f00;
  //   }
  // }
  // @include media-breakpoint-up(md) {
  //   font-size: $font-size-base;
  //   &:before {
  //     content: "middle";
  //     background: green;
  //   }
  // }
  // @include media-breakpoint-up(lg) {
  //   &:before {
  //     content: "Large";
  //     background: turquoise;
  //   }
  // }
  // @include media-breakpoint-up(xl) {
  //   &:before {
  //     content: "XLarge";
  //     background: #f09;
  //   }
  // }
  // @include media-breakpoint-up(xxl) {
  //   &:before {
  //     content: "XXLarge";
  //     background: #90f;
  //   }
  // }
}

.background {
  position: relative;
}

.intro {
  position: absolute;
  top: 0;
  z-index: 3;

  .navigation {
    padding-top: 20px;
    z-index: 8;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.2);
      z-index: 4;
    }
  }

  .slogan {
    margin-top: 200px;
  }
  span {
    text-align: center;
    font-size: 62px;
    color: $white;
    font-weight: 300;
  }
  h1 {
    text-align: center;
    font-size: 62px;
    color: $white;
    font-weight: 700;
  }
  .creative {
    color: #0feb9e;
  }
  strong {
    margin-top: 20px;
    display: block;
    font-size: 18px;
    color: $white;
    font-weight: 300;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 28px;
      height: 1px;
      background: #0feb9e;
      top: 17px;
      left: calc(50% +150px);
    }
    &::before {
      content: "";
      position: absolute;
      width: 28px;
      height: 1px;
      background: #0feb9e;
      top: 17px;
      right: calc(50% + 150px);
    }
  }
  .unite-words {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.nav-block {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 400px;
  justify-content: space-between;
  z-index: 10;
  li::marker {
    color: transparent;
  }
  .navlink {
    text-decoration: none;
    color: $white;
    font-size: 13px;
    transition: 0.2s;
    position: relative;
    &:hover::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background: #32b0ee;
      top: -23px;
      left: 0;
    }
    &:hover {
      color: #cec9c9;
    }
  }
  .active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #32b0ee;
    top: -23px;
    left: 0;
  }
}

.img-wrapper {
  display: block;
  width: 100%;
  img {
    width: 100%;
    overflow: hidden;
  }
}

.features {
  background: #f4f7f9;
  h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    color: #0eb493;
    position: relative;

    margin-top: 70px;
    margin-bottom: 100px;
    &::after {
      content: "";
      position: absolute;
      width: 90px;
      height: 1px;
      background: #e6e8ea;
      top: 60px;
      left: calc(50% + 30px);
    }
    &::before {
      content: "";
      position: absolute;
      width: 90px;
      height: 1px;
      background: #e6e8ea;
      top: 60px;
      right: calc(50% + 30px);
    }
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #062033;
  }
  p {
    color: #062033;
  }
  .feature-block {
    margin-bottom: 130px;
  }
}

.works {
  h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    color: #0eb493;
    position: relative;

    margin-top: 70px;
    margin-bottom: 60px;
    &::after {
      content: "";
      position: absolute;
      width: 90px;
      height: 1px;
      background: #e6e8ea;
      top: 60px;
      left: calc(50% + 30px);
    }
    &::before {
      content: "";
      position: absolute;
      width: 90px;
      height: 1px;
      background: #e6e8ea;
      top: 60px;
      right: calc(50% + 30px);
    }
  }
  p {
    text-align: center;
    color: #062033;
  }
  nav {
    .collapse {
      display: flex;
      justify-content: space-around;
    }
    .navbar-nav {
      width: 600px;
      justify-content: space-between;
    }
    .nav-item {
      a {
        font-weight: 700;
        color: #062033;
      }
      .active {
        color: #fff;
        background: #27a284;
        padding: 6px 20px;
        border-radius: 7px;
      }
    }
  }
}
